body {
   font-family: Verdana, Helvetica, sans-serif;
   background-color: #48D1CC;
}

#posttitle {
	font-size: 30;
	font-weight: bold;
}

#container {
	width: 500px;
	clear: both;
}

#container input {
	width: 100%;
	clear: both;
}

#container textarea {
	width: 100%;
	clear: both;
}